.Root {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

.App {
  text-align: left;
  background-color: #00FFFF;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: grid;
  position: relative;
}

.top-left-box{
  display: 'flex';
  align-items: 'center';
  justify-content: 'center';
}

.center-box{
  width: 1001px;
  height: 323px;
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
}

.footer{
  display: 'flex';
  align-items: 'center';
  justify-content: 'center';
}

.videoTag{
  overflow: 'hidden';
  display: inline-block;
  width: 100%;
  height: auto;
  z-index: -100;
  
}

.video-blur{
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
  width: 100vw;
  height: 100vh;
  z-index: 0;
  background:radial-gradient(circle at 50% 50%, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.0) 60%);
}

